@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Quicksand:wght@300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-mainhead {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .lexend-giga-sidehead {
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .quicksand-para {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .red-hat-text {
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-condensed {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

header {
    margin: 0;
    padding: 0;
    height: 100vh;
    vertical-align: middle;
    position: relative;
}

.main-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-block {
    width: 30%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
}

.right-block {
    width: 70%;
    position:absolute;
    right: 0 ;
    height: 100vh;
  
}
@media (max-width:600px){

    .left-block{
      width: 100%;
      position: relative;
    }
    .right-block{
      width:100%;
      position: relative;
    }
    header{
      height:70vh;
    }
    iframe {
        width:70%;
        height: 70%;
        position: relative;
    }
}


.prof-img {
    background-image: url(/assets/imgs/shazin-prof.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.prof-img::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(-20deg,
    hsla(244, 97%, 38%, 0.548) 0%, rgba(9, 6, 208, 0.5)20%, transparent 30%,
    transparent 100%);
}

header .content {
position: absolute;
left:0;
bottom:0;
right:0;
width:100%;
margin:0 auto;
padding: 10px;
}

header .content h2 {
    font-size: 36px;
    color: whitesmoke;
    line-height: 1;
    margin: 0;
}

header .content h5 {
    font-size: 15px;
    color: whitesmoke;
    margin: 0;
    line-height: 35px;
}

header .content ul{
    margin:0;
    padding:0;
    display: block;
}

header .content ul li {
    display: inline-block;
    margin:0 2px;
}

header .content ul li a{
    display: block;
    font-size: 15px;
    color: whitesmoke;
    height:35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
}

header .content ul li a:hover {
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

header .content ul li a:active {
    /* border-color: #333; */
    border: 2px solid whitesmoke;
}

.section-wrapper {
   padding: 6%;
   overflow: hidden;
}
/* #e5e6ea */
.odd-section {
    background-color:whitesmoke;
    color: black !important;
}

.even-section {
    background-color:#7988C8ff ;
    color: whitesmoke;
}

.experience hr {
    padding: 0;
    margin: 10px;
}

.adora {
    height: 150px; 
}

.microtel {
    height:150px;
}

.aster {
    height: 100px;
}

/* .company-row {
    margin-top: 10px !important;
    margin-bottom: 20px;
} */

.company-text {
    padding:20px !important;
}

.company-text h4 {
    padding-bottom: 20px;
}

.logo{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.skill-progress label {
    margin-top: 30px;
}
.progress{
    background-color: #C3CAC4ff !important;
}
.progress-bar {
   background-color: #3f4b7cd8 !important;
   border-radius: 20px;
}

.project div {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}
.project div p{
    margin-top: 20px ;
    margin-bottom: 20px;
}
.c-carosel h5 , .c-carosel p {
    color: white;
    backdrop-filter: blur(2px);
}

.project iframe {
    position: relative;
    right: auto;
    left: auto;
   margin-left:auto !important;
   margin-right:auto !important;
    height: 335px;
    width: 750px;
}
.contact  .c-col {
    padding: 10px !important;
}
footer {
    font-size: xx-small;
    font-style: italic;
    text-align:end ;
    background-color: rgb(3, 28, 53);
    color: whitesmoke;
}
footer a:link , footer a:visited {
color: whitesmoke;
}